<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(48, 19, 19)"">
    <div style "padding-bottom: 10px ; border-radius:5% ; border:2pxsolidgoldenrod; width:250px; display:inline-block; " >
        {% for familiar in familiares%}
        </p>         
        <h2>  mis  familiares son : {{ familiar.nombre }} , de  {{ familiar.edad }} años, y nacio el  {{ familiar.fecha_nacimiento }} <h2>
        </p>  
        <div>
    
        {% endfor %}
        
</body>
</html>


