<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blue;">


<p> la hora es {{ fecha_actual }} </p>
        {% for familiar in familiares%}
        <div>
            
        <p> y  mis 3 familiares son : {{ familiar.nombre }} , de  {{ familiar.edad }} años, y nacio el  {{ familiar.fecha_nacimiento }} <h3>
        </p>  
        </div>
    
        {% endfor %}
        
</body>
</html>


